<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mallcom.android.yourmall">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="mallcom.android.yourmall.EnableMultiDex"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:remove="android:appComponentFactory">

        <activity android:name="mallcom.android.yourmall.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="layout.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="mallcom.android.yourmall.MainActivity" />

        <activity
            android:name="layout.OffersActivity"
            android:label="@string/offers"
            android:parentActivityName="mallcom.android.yourmall.MainActivity" />
        <activity
            android:name="layout.shoppingActivity"
            android:label="@string/shopping"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="mallcom.android.yourmall.MainActivity" />

        <activity
            android:name="layout.RestActivity"
            android:label="@string/rest"
            android:parentActivityName="mallcom.android.yourmall.MainActivity" />
        <activity
            android:name="layout.ClinicActivity"
            android:label="@string/clinics"
            android:parentActivityName="mallcom.android.yourmall.MainActivity" />
        <activity android:name="layout.ItemMarkerActivity"
                  android:parentActivityName="layout.shoppingActivity" />

        <activity android:name="layout.GalleryActivity"
            android:parentActivityName="layout.ItemMarkerActivity"/>
    </application>

</manifest>